/*Speceficate*/

.serch_pl::selection {
   background: transparent;
}
.serch_pl::-moz-selection {
   background: transparent;
}

input::selection {
   background: transparent;
}
input::-moz-selection {
   background: transparent;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

.lol:hover {
   left: 100px;
}
.block{ 
display: flex;
align-items: flex-end;
justify-content: flex-end;
}

.block-logo {
    width: 64px;
    width: 64px;
    height: 64px;
}

.nav-menu {
 background-color: black;
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 60px;
 width: 100%;
 position: static;    
}

.nav-bar {
    display: flex;
    margin-left: 64px;
    margin-right: 60px;
    padding: 0px;
    font-family: FuturaDemiC;
    font-size: 16px;
}

li {
    text-decoration: none;
    margin-right: 40px;
    list-style-type: none;
    opacity: 0.8;
    transition: all 0.1s;
}

a { 
 color: white;
 text-decoration: none;
  
}

li:hover {
  opacity: 1;
 
  
}

.bar-serch-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  }

.profile { 
  background: url(../img/person.svg);
  width: 27px;
  height: 27px;
  display: block;
  margin-right: 25px;
  cursor: pointer;
    
}

.search {
  background: url(../img/search.svg);
  width: 27px;
  height: 27px;
  display: block;
  margin-left: 25px;
  cursor: pointer;
}

.ch-box { 
display: none;
}
.serch_pl {
    background-color: white;
    width: 100vw;
    height: 16vh;
    display: none;
    position: fixed;
    right: 0px;
    top: 59px;
    transition: all 1s;
    font-family: FuturaDemiC;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
}

input[type=text] {
    border: none;
    border-radius: 4px;
    font-size: 48px;
    font-family: FuturaDemiC;
    text-transform: uppercase;
    color: #e6e6e6;
    width: 738px;
}

input::-webkit-input-placeholder { color: #e6e6e66e }
input::-moz-placeholder { color: #e6e6e66e } 


input[type=text]:focus {
border: none;
outline: none;
}

#search:checked ~ .serch_pl {
 
display: flex;
    
}

#showScroll { 
position: fixed;
    font-size: 16;
    color: aqua;
}

#NavMenu {
    position: relative;
}


.fixed {
      position: fixed;
    }
.v-box{
    overflow: hidden;
        top:20px;
    width: 252px;
    height:264px;
   border-radius:10px 10px;

    
}